.table_header{
    color:#B5B7C0 !important
}
.status_active{
    border-radius: 5px;
    background: #16c09847;
    color: #008767;
    padding: 5px;
    width: 80%;
    border: 1px solid #00B087;
    text-align: center;
}
.status_inactive{
    border-radius: 5px;
    background: #FFC5C5;
    color: #DF0404;
    padding: 5px;
    width: 80%;
    border: 1px solid #DF0404;
    text-align: center;
}
.table_text{
    font-weight: 600;
}
.TableRow:hover{
    background-color: #00B087;
}